<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gear Planning</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="wrapper">
		<h1> Gear Planning </h1>

		<div class="users">
			<h2> Users </h2>
			<ul>
				<% @users.each do |user| %>
				<li>
					<form action="/delete_user/<%=user.id%>" method="POST">
  						<input type="submit" value="X"/>
  						<a href="/users/<%= user.id %>"><%= user.name %></a>
					</form>
				</li>
				<% end %>	
			</ul>
			<h3> Add a new user </h3>
			<div class="addNew">
			<form action='/create_user' method='POST'>
		  			<input type='text' name='name' placeholder='name' />
		  			<input type='submit' value='Save'>
			</form>
		</div>

		<div class="trips">
			<h2> Trips </h2>
			<ul>
				<% @trips.each do |trip| %>
				<li>
					<form action="/delete_trip/<%=trip.id%>" method="POST">
  						<input type="submit" value="X"/>
  						<a href="/trips/<%= trip.id %>"><%= trip.name %></a>
  						<span class="date"><%="#{trip.date.to_s}"%></span>
					</form>
				</li>
				<% end %>	
			</ul>
			<h3> Add a new trip </h3>
			<div class="addNew">
			<form action='/create_trip' method='POST'>
		  			<input type='text' name='name' placeholder='name' />
		  			<input type='text' name='date' placeholder='date' />
		  			<input type='submit' value='Save'>
			</form>
		</div>
	</div>
</body>
</html>